.page-container{
    width: 100vw;
    height: 100vh;
}

.cards-list{
    width: 100vw;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.crud{
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    width: 95vw;
    height: fit-content;
    padding: 50px 0;
    justify-content: space-evenly;
    visibility: hidden;
}